<p id="notice"><%= notice %></p>

<p>
  <b>Street1:</b>
  <%= @profile.street1 %>
</p>

<p>
  <b>Street1:</b>
  <%= @profile.street1 %>
</p>

<p>
  <b>City:</b>
  <%= @profile.city %>
</p>

<p>
  <b>State:</b>
  <%= @profile.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @profile.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @profile.phone %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
