<h1>Listing patient_symptoms</h1>

<table>
  <tr>
    <th>/</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patient_symptoms.each do |patient_symptom| %>
  <tr>
    <td><%= patient_symptom./ %></td>
    <td><%= patient_symptom.status %></td>
    <td><%= link_to 'Show', patient_symptom %></td>
    <td><%= link_to 'Edit', edit_patient_symptom_path(patient_symptom) %></td>
    <td><%= link_to 'Destroy', patient_symptom, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient symptom', new_patient_symptom_path %>
