<p id="notice"><%= notice %></p>

<p>
  <b> name:</b>
  <%= @system.name %>
</p>
<% @system.conditions.each do |condition| %>
  <%= condition.name %>
  # etc.
<% end %>



<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
